<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>atack-1.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,0},{31,59}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{31,59}}</string>
                <key>sourceSize</key>
                <string>{31,59}</string>
            </dict>
            <key>atack-2.png</key>
            <dict>
                <key>frame</key>
                <string>{{31,0},{31,59}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{31,59}}</string>
                <key>sourceSize</key>
                <string>{31,59}</string>
            </dict>
            <key>atack-3.png</key>
            <dict>
                <key>frame</key>
                <string>{{62,0},{26,71}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{26,71}}</string>
                <key>sourceSize</key>
                <string>{26,71}</string>
            </dict>
            <key>atack-4.png</key>
            <dict>
                <key>frame</key>
                <string>{{88,0},{33,71}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{33,71}}</string>
                <key>sourceSize</key>
                <string>{33,71}</string>
            </dict>
            <key>atack-5.png</key>
            <dict>
                <key>frame</key>
                <string>{{121,0},{53,45}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{53,45}}</string>
                <key>sourceSize</key>
                <string>{53,45}</string>
            </dict>
            <key>atack-6.png</key>
            <dict>
                <key>frame</key>
                <string>{{174,0},{42,48}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{42,48}}</string>
                <key>sourceSize</key>
                <string>{42,48}</string>
            </dict>
            <key>atack-7.png</key>
            <dict>
                <key>frame</key>
                <string>{{216,0},{36,52}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{36,52}}</string>
                <key>sourceSize</key>
                <string>{36,52}</string>
            </dict>
            <key>die-1.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,71},{43,59}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{43,59}}</string>
                <key>sourceSize</key>
                <string>{43,59}</string>
            </dict>
            <key>die-2.png</key>
            <dict>
                <key>frame</key>
                <string>{{43,71},{43,53}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{43,53}}</string>
                <key>sourceSize</key>
                <string>{43,53}</string>
            </dict>
            <key>die-3.png</key>
            <dict>
                <key>frame</key>
                <string>{{86,71},{43,46}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{43,46}}</string>
                <key>sourceSize</key>
                <string>{43,46}</string>
            </dict>
            <key>die-4.png</key>
            <dict>
                <key>frame</key>
                <string>{{129,71},{45,24}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{45,24}}</string>
                <key>sourceSize</key>
                <string>{45,24}</string>
            </dict>
            <key>die-5.png</key>
            <dict>
                <key>frame</key>
                <string>{{174,71},{47,15}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{47,15}}</string>
                <key>sourceSize</key>
                <string>{47,15}</string>
            </dict>
            <key>walk-1 copy.png</key>
            <dict>
                <key>frame</key>
                <string>{{221,71},{31,59}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{31,59}}</string>
                <key>sourceSize</key>
                <string>{31,59}</string>
            </dict>
            <key>walk-2 copy.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,130},{29,59}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{29,59}}</string>
                <key>sourceSize</key>
                <string>{29,59}</string>
            </dict>
            <key>walk-3 copy.png</key>
            <dict>
                <key>frame</key>
                <string>{{29,130},{36,58}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{36,58}}</string>
                <key>sourceSize</key>
                <string>{36,58}</string>
            </dict>
            <key>walk-4 copy.png</key>
            <dict>
                <key>frame</key>
                <string>{{65,130},{31,62}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{31,62}}</string>
                <key>sourceSize</key>
                <string>{31,62}</string>
            </dict>
            <key>walk-5 copy.png</key>
            <dict>
                <key>frame</key>
                <string>{{96,130},{37,59}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{37,59}}</string>
                <key>sourceSize</key>
                <string>{37,59}</string>
            </dict>
            <key>walk-6 copy.png</key>
            <dict>
                <key>frame</key>
                <string>{{133,130},{46,58}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{46,58}}</string>
                <key>sourceSize</key>
                <string>{46,58}</string>
            </dict>
            <key>walk-7 copy.png</key>
            <dict>
                <key>frame</key>
                <string>{{96,130},{37,59}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{37,59}}</string>
                <key>sourceSize</key>
                <string>{37,59}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>size</key>
            <string>{252,192}</string>
            <key>textureFileName</key>
            <string>golems.png</string>
        </dict>
    </dict>
</plist>
